/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: hsl(91, 100%, 24%);
  color: #333;
}

header {
  background: #16013f;
  color:   background:
  background: hsl(91, 100%, 24%);
  padding: 20px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.intro {
  padding: 40px;
  text-align: center;
}

button {
  background: #ff9800;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #e68900;
}

footer {
  background: #333;
  color: green;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}
